<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:400,300,600" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/4.0.0/normalize.min.css" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
  <title>Provider application</title>
</head>
<body>
  <div class="container">
    <h1>Debit Order Switching</h1>
	<div class="consent" th:if="${{providers.size() == 0}}">
    <span>By typing the word "consent" below, you are explicitly agreeing to the terms and conditions and proceeding with Debit Order Switching</span>
	</div>
    <div class="row" th:each="provider : ${providers}" th:if="${{providers.size() > 0}}">
      <div class="nine columns">
        <form th:method="put" th:action="@{/}">
          <input type="hidden" name="id" th:value="${provider.id}" />
          <input type="hidden" name="description" th:value="${provider.description}" />
          <input type="hidden" name="accountName" th:value="${provider.accountName}" />
          <input type="checkbox" name="completed" th:checked="${provider.completed}" onchange="form.submit()" />
           <span th:text="${provider.id}">||</span> <span th:text="${provider.description}"></span> : <span th:text="${provider.accountName}"></span>  <span th:text="${provider.liveStatus}"></span>
        </form>
      </div>
      <div class="three columns">
        <form th:method="delete" th:action="@{/}">
          <input type="hidden" name="id" th:value="${provider.id}" />
          <button class="button u-full-width" type="submit">Switch</button>
        </form>
      </div>
    </div>
    <hr />
    <form method="post" th:action="@{/}" th:object="${newProvider}">
      <div class="row">
        <div class="nine columns">
		<span th:text = "${{providers.size() > 0}} ? 'Add Debit Order' : 'Agree'"></span>
          <input type="text" placeholder="Type here... " class="u-full-width" th:field="*{description}" />
          <span th:if="${error != null}" th:text="${error}"></span>
        </div>
        <div class="three columns">
          <button type="submit" class="button-primary u-full-width">Agree</button>
        </div>
      </div>
    </form>
  </div>
</body>
</html>